
# Name:Himansi Raval

# Class: Bsc . Data Science

# Roll no: 31013021015

# Topic: Amazon Prime TV shows and Movies Analysis

#### ________________________________________________________________________________________________________________________

## Import the required libraries

In [1]:
#Importing the pandas library for data cleaning and manipulation

In [2]:
import pandas as pd

## Load the data

In [3]:
#Reading a CSV file named "titles.csv" into a DataFrame and name it  'real_data'

In [4]:
real_data= pd.read_csv("titles.csv")

## Understanding the data

In [5]:
real_data.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],NaN,tt0038650,8.6,467766.0,27.611,8.261
1,tm143047,Duck Soup,MOVIE,Rufus T. Firefly is named president/dictator o...,1933,NaN,69,"['comedy', 'war']",['US'],NaN,tt0023969,7.8,60933.0,9.013,7.357
2,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['drama', 'romance', 'comedy']",['US'],NaN,tt0032599,7.8,60244.0,14.759,7.433
3,ts20945,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family']",['US'],26.0,tt0850645,8.5,1149.0,15.424,7.600
4,tm5012,Red River,MOVIE,Headstrong Thomas Dunson starts a thriving Tex...,1948,NaN,133,"['western', 'drama', 'romance', 'action']",['US'],NaN,tt0040724,7.8,32210.0,12.400,7.400

In [6]:
#The .shape attribute is used to get the dimensions (number of rows and columns) of real_data.

In [7]:
real_data.shape

(10873, 15)

In [8]:
# .info() is used display detailed information about the real_data,including data types, non-null counts, and memory usage.

In [9]:
real_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10873 entries, 0 to 10872
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10873 non-null  object
 1   title                 10873 non-null  object
 2   type                  10873 non-null  object
 3   description           10729 non-null  object
 4   release_year          10873 non-null  int64
 5   age_certification     3688 non-null   object
 6   runtime               10873 non-null  int64
 7   genres                10873 non-null  object
 8   production_countries  10873 non-null  object
 9   seasons               1551 non-null   float64
 10  imdb_id               10172 non-null  object
 11  imdb_score            9765 non-null   float64
 12  imdb_votes            9753 non-null   float64
 13  tmdb_popularity       10302 non-null  float64
 14  tmdb_score            8747 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 1.2+ MB

In [10]:
#Displaying the column names of the real_data

In [11]:
real_data.columns

Index(['id', 'title', 'type', 'description', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'imdb_score', 'imdb_votes', 'tmdb_popularity',
       'tmdb_score'],
      dtype='object')

In [12]:
#Checking and displaying the number of missing values in each column of the 'real_data' DataFrame
# .isnull() is used to identify missing values in the'real_data', 
#then applying the .sum() method to count the number of missing values in each column.

In [13]:
real_data.isnull().sum()

id                         0
title                      0
type                       0
description              144
release_year               0
age_certification       7185
runtime                    0
genres                     0
production_countries       0
seasons                 9322
imdb_id                  701
imdb_score              1108
imdb_votes              1120
tmdb_popularity          571
tmdb_score              2126
dtype: int64

In [14]:
# creating my own data frame from the existing one to make changes .
#copy() method is used to create an independent copy, allowing modifications to 'data' without affecting 'real_data'.

In [15]:
data=real_data.copy()

In [16]:
data.head(5)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],NaN,tt0038650,8.6,467766.0,27.611,8.261
1,tm143047,Duck Soup,MOVIE,Rufus T. Firefly is named president/dictator o...,1933,NaN,69,"['comedy', 'war']",['US'],NaN,tt0023969,7.8,60933.0,9.013,7.357
2,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['drama', 'romance', 'comedy']",['US'],NaN,tt0032599,7.8,60244.0,14.759,7.433
3,ts20945,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family']",['US'],26.0,tt0850645,8.5,1149.0,15.424,7.600
4,tm5012,Red River,MOVIE,Headstrong Thomas Dunson starts a thriving Tex...,1948,NaN,133,"['western', 'drama', 'romance', 'action']",['US'],NaN,tt0040724,7.8,32210.0,12.400,7.400

In [17]:
data.isnull().sum()

id                         0
title                      0
type                       0
description              144
release_year               0
age_certification       7185
runtime                    0
genres                     0
production_countries       0
seasons                 9322
imdb_id                  701
imdb_score              1108
imdb_votes              1120
tmdb_popularity          571
tmdb_score              2126
dtype: int64

## Addressing missing values in specific columns required for analysis in 'data'

In [18]:
data.columns

Index(['id', 'title', 'type', 'description', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'imdb_score', 'imdb_votes', 'tmdb_popularity',
       'tmdb_score'],
      dtype='object')

### column name - imdb_score

In [19]:
data['imdb_score']

0        8.6
1        7.8
2        7.8
3        8.5
4        7.8
        ...
10868    5.8
10869    5.6
10870    8.3
10871    NaN
10872    NaN
Name: imdb_score, Length: 10873, dtype: float64

In [20]:
data['imdb_score'].isnull().sum()

1108

In [21]:
data['imdb_score'].fillna(0, inplace=True)

In [22]:
data['imdb_score'].isnull().sum()

0

### column name -  imdb_votes

In [23]:
data['imdb_votes']

0        467766.0
1         60933.0
2         60244.0
3          1149.0
4         32210.0
           ...
10868      1269.0
10869       812.0
10870        10.0
10871         NaN
10872         NaN
Name: imdb_votes, Length: 10873, dtype: float64

In [24]:
data['imdb_votes'].isnull().sum()

1120

In [25]:
data['imdb_votes'].fillna(0,inplace=True)

In [26]:
data['imdb_votes'].isnull().sum()

0

### column name - tmdb_popularity

In [27]:
data['tmdb_popularity']

0        27.611
1         9.013
2        14.759
3        15.424
4        12.400
          ...
10868     4.403
10869     3.406
10870     1.960
10871     1.336
10872       NaN
Name: tmdb_popularity, Length: 10873, dtype: float64

In [28]:
data['tmdb_popularity'].isnull().sum()

571

In [29]:
data['tmdb_popularity'].fillna(0,inplace=True)

In [30]:
data['tmdb_popularity'].isnull().sum()

0

### column name - tmdb_score

In [31]:
data['tmdb_score']

0        8.261
1        7.357
2        7.433
3        7.600
4        7.400
         ...
10868    4.300
10869    8.000
10870      NaN
10871      NaN
10872      NaN
Name: tmdb_score, Length: 10873, dtype: float64

In [32]:
data['tmdb_score'].isnull().sum()

2126

In [33]:
data['tmdb_score'].fillna(0,inplace=True)

In [34]:
data['tmdb_score'].isnull().sum()

0

### column name - genres

In [35]:
data['genres']

0        ['drama', 'family', 'fantasy', 'romance', 'com...
1                                        ['comedy', 'war']
2                           ['drama', 'romance', 'comedy']
3                                     ['comedy', 'family']
4                ['western', 'drama', 'romance', 'action']
                               ...
10868                      ['action', 'thriller', 'crime']
10869                                  ['drama', 'comedy']
10870                                           ['comedy']
10871                                                   []
10872                                            ['drama']
Name: genres, Length: 10873, dtype: object

In [36]:
# Replacing empty lists in the 'genres' column with the value 'unknown' in the 'data' DataFrame
data['genres'] = data['genres'].replace('[]', 'unknown')

## Droppping columns which are not necessary

In [37]:
data.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],NaN,tt0038650,8.6,467766.0,27.611,8.261
1,tm143047,Duck Soup,MOVIE,Rufus T. Firefly is named president/dictator o...,1933,NaN,69,"['comedy', 'war']",['US'],NaN,tt0023969,7.8,60933.0,9.013,7.357
2,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['drama', 'romance', 'comedy']",['US'],NaN,tt0032599,7.8,60244.0,14.759,7.433
3,ts20945,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family']",['US'],26.0,tt0850645,8.5,1149.0,15.424,7.600
4,tm5012,Red River,MOVIE,Headstrong Thomas Dunson starts a thriving Tex...,1948,NaN,133,"['western', 'drama', 'romance', 'action']",['US'],NaN,tt0040724,7.8,32210.0,12.400,7.400

In [38]:
data.columns

Index(['id', 'title', 'type', 'description', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'imdb_score', 'imdb_votes', 'tmdb_popularity',
       'tmdb_score'],
      dtype='object')

In [39]:
data.drop(columns=['id','description','age_certification','seasons','imdb_id'],inplace=True)

In [40]:
data.isnull().sum()

title                   0
type                    0
release_year            0
runtime                 0
genres                  0
production_countries    0
imdb_score              0
imdb_votes              0
tmdb_popularity         0
tmdb_score              0
dtype: int64

In [41]:
data.to_excel('mydata.xlsx', index=False)

# ---------------------------------------------------------------------------------------------------------------

# MODEL CREATION

In [42]:
data.head()

,title,type,release_year,runtime,genres,production_countries,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,It's a Wonderful Life,MOVIE,1946,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],8.6,467766.0,27.611,8.261
1,Duck Soup,MOVIE,1933,69,"['comedy', 'war']",['US'],7.8,60933.0,9.013,7.357
2,His Girl Friday,MOVIE,1940,92,"['drama', 'romance', 'comedy']",['US'],7.8,60244.0,14.759,7.433
3,The Three Stooges,SHOW,1934,19,"['comedy', 'family']",['US'],8.5,1149.0,15.424,7.600
4,Red River,MOVIE,1948,133,"['western', 'drama', 'romance', 'action']",['US'],7.8,32210.0,12.400,7.400

In [43]:
#Importing libraries needed for creation of  model

In [44]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [45]:
#'title' is the column containing movie/TV show titles
#'genres' is the column containing genre information

In [46]:
titles = data['title']
genres = data['genres']

In [47]:
# Create a TF-IDF Vectorizer for genres

In [48]:
tfidf_vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf_vectorizer.fit_transform(genres)

In [49]:
# Find the index of the input title
# Calculate cosine similarity between the input title and all other titles
# Get indices of top similar titles
# Exclude the input title from recommendations
# Return recommended titles

In [50]:
def recommendations(input_title, num_recommendations=5):
    input_index = titles.index[titles.str.lower() == input_title.lower()].tolist()[0]
    cosine_similarities = linear_kernel(tfidf_matrix[input_index],tfidf_matrix).flatten()
    similar_titles_indices = cosine_similarities.argsort()[:-num_recommendations-2:-1]
    similar_titles_indices = [idx for idx in similar_titles_indices if idx != input_index]
    return titles.iloc[similar_titles_indices]

In [51]:
#sample of titles for checking the recommendation

In [68]:
data['title'].sample(n=15)

7637                     The Jack in the Box
1585    The Wackiest Wagon Train In The West
3997                              Black Gold
9892                         Her Name Was Jo
467                                 Hi-De-Ho
6898               Zakir Khan: Haq Se Single
7694                                  Cosmos
3133         Chicago Massacre: Richard Speck
5732                             Cup of Love
8168                             Prassthanam
930                                Sri Valli
4806                                    Stay
2899                               Baby Mama
3131                                  Tobruk
5899                  Pinkfong! Animal Songs
Name: title, dtype: object

In [64]:
#Get recommendations for a specific title on the basis of genre

In [70]:
input_title = "Prassthanam"
recommended_list = recommendations(input_title)
print(recommended_list)

7422                      Hanna
8595                   Bharaate
4848                   The Shop
747     Omoo-Omoo the Shark God
7119                   Kaathadi
9982                Yuvarathnaa
Name: title, dtype: object